.button {
  width: 137px;
  height: 43px;
  flex-shrink: 0;
  border: none;
  border-radius: 50px;
  background-color: $button-green-bg-color;
  color: $button-white-text-color;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  transition: all 0.3s ease;

  @media (min-width: $screen-desktop) {
    width: 196px;
  }

  &:hover {
    background-color: $button-bg-hover-color;
  }

  &_navigation {
    display: block;
    width: 196px;
    background-color: $button-white-bg-color;
    color: $button-green-text-color;
    font-weight: 700;

    @media (min-width: $screen-laptop) {
      display: none;
    }
  }

  &_header {
    display: none;

    @media (min-width: $screen-laptop) {
      width: 196px;
      display: block;
    }
  }

  &_details {
    background-color: transparent;
    border: 1px solid $button-green-bg-color;
    color: $text-green-color;

    &:hover {
      color: $text-white-color;
      background-color: $button-green-bg-color;
    }
  }
}

