$text-primary-color: #364844;
$text-secondary-color: #868686;
$text-white-color: #FFF;

$background-white-color: #FFF;
$background-green-color: #1FA181;

$button-bg-color: #0DBC91;
$button-text-color: #FFF;
$button-bg-hover-color: #00D29F;



$screen-ss:                340px;
$screen-s:                 480px;
$screen-m:                 652px;
$screen-l:                 992px;
$screen-xl:                1220px;