.address {
  display: flex;
  gap: 3px;

  &__left-side{
    align-self: flex-start;
  }

  &__right-side{
    display: flex;
    flex-direction: column;
    color: $text-black-color;
    font-size: 14px;
    line-height: 21px;

    @media (min-width: $screen-laptop) {
      line-height: 18px;
    }
  }

  &__icon {
    display: none;

    @media (min-width: $screen-laptop) {
      display: block;
      width: 20px;
      height: 20px;
    }
  }

  &__city {
    display: none;

    @media (min-width: $screen-laptop) {
      display: block;
      color: $text-black-color;
    }
  }

  &__additional-info {
    display: none;

    @media (min-width: $screen-laptop) {
      display: block;
      color: $text-gray-color;
    }
  }
}