.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 49px;
  padding-bottom: 35px;

  @media (min-width: $screen-desktop) {
    padding-top: 100px;
    padding-bottom: 92px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    gap: 36px;
    height: 34px;

    @media (min-width: $screen-desktop) {
      margin-top: 35px;
    }
  }

  &__nav-button {
    border: none;
    background: none;
    cursor: pointer;
    width: 34px;
    height: 34px;
    transition: all 0.3s ease;
  }

  &__nav-button_right{
    background-image: url("../images/rightArrow.svg");

    &:hover{
      background-image: url("../images/rightArrowActive.svg");
    }
  }

  &__nav-button_left{
    background-image: url("../images/leftArrow.svg");

    &:hover{
      background-image: url("../images/leftArrowActive.svg");
    }
  }

  &__card-numbers {
    display: flex;
    font-size: 18px;
  }

  &__card-current {
    color: $text-black-color;
  }

  &__card-total {
    color: $text-light-gray-color;
  }
}