.services-card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 91vw;
  height: 536px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in 0.3s;

  @media (min-width: $screen-tablet) {
    flex-direction: row-reverse;
    max-width: 1140px;
    width: calc(100vw - 34px);
    height: 440px;
  }

  @media (min-width: $screen-desktop) {
    width: 1140px;
    height: 440px;
  }

  &__pictures-wrapper {
    position: relative;
    height: 169px;
    width: 100%;
    background-color: $card-bg-color;
  }

  &__picture {
    position: absolute;
    display: block;
    height: 169px;
    width: 100%;
    z-index: 4;
    transform: translateY(-200%);
    transition: all 0.3s ease-in;
    opacity: 0.4;

    &_active {
      transform: translateY(0%);
      opacity: 1;
    }

    @media (min-width: $screen-tablet) {
      transform: translateY(300%);

      &_active {
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;

    @media (min-width: $screen-tablet) {
      position: absolute;
      right: 0;
      width: 55vw;
      height: 439px;
    }

    @media (min-width: $screen-laptop) {
      width: 692px;
    }
  }

  &__content-wrapper {
    padding: 22px;
    height: 370px;
    background-color: $card-bg-color;
    z-index: 2;

    @media (min-width: $screen-tablet) {
      position: absolute;
      left: 0;
      width: 60vw;
      height: 440px;
      clip-path: polygon(0 0, calc(100% - 120px) 0, 100% 100%, 0 100%);
      padding-left: 33px;
      padding-top: 53.14px;
      z-index: 6;
    }

    @media (min-width: $screen-laptop) {
      width: 613px;
      padding-left: 63px;
    }
  }

  &__content {
    position: absolute;
    transform: translateY(200%);
    transition: all 0.3s ease-in;
    opacity: 0.4;

    &_active {
      transform: translateY(0%);
      opacity: 1;
    }

    @media (min-width: $screen-tablet) {
      transform: translateY(-200%);

      &_active {
        transform: translateY(0%);
      }
    }
  }

  &__title {
    color: $text-black-color;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $screen-laptop) {
      font-size: 38px;
    }
  }

  &__subtitle {
    color: $text-black-color;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;

    @media (min-width: $screen-laptop) {
      margin-top: 3px;
      font-size: 22px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-top: 12px;
    gap: 8px;

    @media (min-width: $screen-laptop) {
      margin-top: 14px;
      gap: 6px;
    }
  }

  &__list-item {
    position: relative;
    font-size: 14px;
    padding-left: 17px;
    line-height: 145%;
    color: $text-black-color;

    @media (min-width: $screen-tablet) {
      max-width: 300px;
    }

    @media (min-width: $screen-laptop) {
      font-size: 16px;
      max-width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(100%);
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $background-green-color;

      @media (min-width: $screen-laptop) {
        transform: translateY(120%);
      }
    }
  }

  &__pricing {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 17px;

    @media (min-width: $screen-laptop) {
      gap: 15px;
      margin-top: 32px;
    }
  }

  &__price {
    color: $text-black-color;
    font-size: 18px;

    @media (min-width: $screen-laptop) {
      font-size: 20px;
    }
  }

  &__old-price {
    color: $text-gray-color;
    font-size: 14px;
    text-decoration: line-through;

    @media (min-width: $screen-laptop) {
      font-size: 16px;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 27px;
    gap: 6px;

    @media (min-width: $screen-laptop) {
      gap: 14px;
    }

    @media (max-width: $screen-mobileSmall) {
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  }

  &.slide-left {
    animation: slideLeft 0.5s forwards;
  }

  &.slide-right {
    animation: slideRight 0.5s forwards;
  }

  &.slide-out-left {
    animation: slideLeft 0.5s forwards;
    display: none;
  }

  &.slide-out-right {
    animation: slideRight 0.5s forwards;
    display: none;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
