.services-card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 340px;
  height: 536px;
  border-radius: 5px;
  overflow: hidden;


  @media (min-width: $screen-tablet) {
    flex-direction: row-reverse;
    max-width: 1140px;
    width: calc(100vw - 34px);
    height: 440px;
  }

  @media (min-width: $screen-desktop) {
    width: 1140px;
    height: 440px;
  }

  &__picture {
    height: 169px;
    width: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (min-width: $screen-tablet) {
      position: absolute;
      right: 0;
      width: 55vw;
      height: 440px;
    }

    @media (min-width: $screen-desktop) {
      width: 692px;
      height: 440px;
    }
  }

  &__content {
    padding: 22px;
    height: 370px;
    background-color: $card-bg-color;

    @media (min-width: $screen-tablet) {
      position: absolute;
      left: 0;
      width: 60vw;
      height: 440px;
      clip-path: polygon(0 0, calc(100% - 120px) 0, 100% 100%, 0 100%);
    }

    @media (min-width: $screen-desktop) {
      width: 613px;
      height: 440px;
      padding-left: 63px;
      padding-top: 53.14px;
    }
  }

  &__title {
    color: $text-black-color;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $screen-desktop) {
      font-size: 38px;
    }
  }

  &__subtitle {
    color: $text-black-color;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;

    @media (min-width: $screen-desktop) {
      margin-top: 3px;
      font-size: 22px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-top: 12px;
    gap: 8px;

    @media (min-width: $screen-desktop) {
      margin-top: 14px;
      gap: 6px;
    }
  }

  &__list-item {
    position: relative;
    font-size: 14px;
    padding-left: 17px;
    line-height: 145%;
    color: $text-black-color;

    @media (min-width: $screen-desktop) {
      font-size: 16px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(100%);
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $background-green-color;

      @media (min-width: $screen-desktop) {
        transform: translateY(120%);
      }
    }
  }

  &__pricing {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 17px;

    @media (min-width: $screen-desktop) {
      gap: 15px;
      margin-top: 32px;
    }
  }

  &__price {
    color: $text-black-color;
    font-size: 18px;

    @media (min-width: $screen-desktop) {
      font-size: 20px;
    }
  }

  &__old-price {
    color: $text-gray-color;
    font-size: 14px;
    text-decoration: line-through;

    @media (min-width: $screen-desktop) {
      font-size: 16px;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 27px;
    gap: 6px;

    @media (min-width: $screen-desktop) {
      gap: 14px;
    }
  }
}
